Repository finjimcam/CourseMapper: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Linting with black in backend, Type checking with mypy in backend, Unit tests on backend, Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

Linting with black in backend:
  stage: Static Analysis
  script:
  - cd backend
  - black --check --diff .

Type checking with mypy in backend:
  stage: Static Analysis
  script:
  - cd backend
  - mypy .

Unit tests on backend:
  stage: Dynamic Analysis
  script:
  - python -m unittest discover -s backend -p "test_*.py"

Type checking with tsc in frontend:
  stage: Static Analysis
  image: node:20.17.0-alpine
  cache:
    paths:
    - node_modules/
  before_script:
  - cd frontend
  - npm i
  script:
  - npx tsc --noEmit

Linting with eslint in frontend:
  stage: Static Analysis
  image: node:20.17.0-alpine
  before_script:
  - cd frontend
  - npm i
  script:
  - npm run lint
  - npm run prettier

Unit tests on frontend:
  stage: Dynamic Analysis
  image: node:20.17.0-alpine
  before_script:
  - cd frontend
  - npm i
  script:
  - npm run test

removed package-lock.json
  package-lock.json
Due: none

changes made.
  frontend/public/LISU.png
  frontend/public/vite.svg
Due: Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

reduce commits
  backend/main.py
Due: Linting with black in backend, Type checking with mypy in backend, Unit tests on backend

pass the frontend test
  backend/main.py
  frontend/jest.config.ts
  frontend/src/pages/Workbook.tsx
  frontend/tests/pages/Workbook.test.tsx
  frontend/tsconfig.test.json
Due: Linting with black in backend, Type checking with mypy in backend, Unit tests on backend, Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

implement excel export function
  backend/tests/test_main.py
Due: Linting with black in backend, Type checking with mypy in backend, Unit tests on backend

fix type check issue
  backend/main.py
  backend/tests/test_main.py
Due: Linting with black in backend, Type checking with mypy in backend, Unit tests on backend

implement excel export function
  backend/main.py
  backend/requirements.txt
  backend/tests/test_main.py
  frontend/src/pages/Workbook.tsx
Due: Linting with black in backend, Type checking with mypy in backend, Unit tests on backend, Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

Linting with black in backend
  backend/main.py
Due: Linting with black in backend, Type checking with mypy in backend, Unit tests on backend

refactored contributor adding for editworkbook
  frontend/src/components/modals/CourseDetailsEditModal.tsx
  frontend/src/pages/CreateWorkbook.tsx
  frontend/src/pages/EditWorkbook.tsx
Due: Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

fixes also on createworkbook
  frontend/src/pages/CreateWorkbook.tsx
Due: Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

linting and prettier
  frontend/src/components/modals/CourseDetailsEditModal.tsx
  frontend/src/pages/CreateWorkbook.tsx
  frontend/src/pages/EditWorkbook.tsx
Due: Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

fixed school and area advanced search info display
  frontend/src/components/modals/CourseDetailsEditModal.tsx
  frontend/src/pages/SearchResults.tsx
Due: Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

pass frontend test
  frontend/tests/pages/SearchResults.test.tsx
Due: Type checking with tsc in frontend, Linting with eslint in frontend, Unit tests on frontend

Add files via upload
  Dissertation.pdf
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  Linting with black in backend: any of: backend/**/*
  Type checking with mypy in backend: any of: backend/**/*
  Unit tests on backend: any of: backend/**/*
  Type checking with tsc in frontend: any of: frontend/**/*
  Linting with eslint in frontend: any of: frontend/**/*
  Unit tests on frontend: any of: frontend/**/*
