Repository finjimcam/CourseMapper: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Linting with black in backend, Type checking with mypy, Unit tests on backend, Type Checking on frontend, Linting with black in frontend

Linting with black in backend:
  stage: Static Analysis
  script:
  - black --check --diff backend

Type checking with mypy:
  stage: Static Analysis
  script:
  - mypy --strict backend

Unit tests on backend:
  stage: Dynamic Analysis
  script:
  - python -m unittest discover -s backend -p "test_*.py"

Type Checking on frontend:
  stage: Type Checking
  script:
  - cd frontend
  - nom install
  - npx tsc --noEmit

Linting with black in frontend:
  stage: Static Analysis
  script:
  - black --check --diff frontend

manually reapplied changes to task status in data
  backend/data/Week1.csv
  backend/data/Week2.csv
  backend/data/Week3.csv
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

a test
  frontend/README.md
Due: Type Checking on frontend, Linting with black in frontend

updated legend data
  backend/data/Legend.csv
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

change the type change of the frontend
  .gitlab-ci.yml
Due: none

delete the test information
  frontend/README.md
Due: Type Checking on frontend, Linting with black in frontend

Changed the absolute path of the database in the database file to a relative path so that fastAPI can run in backend
  backend/models/database.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

fix the dir of the database.db, now database.db will only be generate in ../backend
  backend/models/database.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

fix the problem that populate.py cannot run in the dir ../backend
  backend/models/populate.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

change the type checking of frontend
  .gitlab-ci.yml
Due: none

paramaterised learning activities search
  backend/main.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

Added colour to learning type and task status cells
  frontend/src/components/CustomBadge.tsx
  frontend/src/pages/Workbook.tsx
Due: Type Checking on frontend, Linting with black in frontend

apply consistent style for trivial get requests
  backend/main.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

fix paramaterised learning activities
  backend/main.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

Aligned text in centre of coloured cell
  frontend/src/components/CustomBadge.tsx
Due: Type Checking on frontend, Linting with black in frontend

update CI config
  .gitlab-ci.yml
Due: none

reformat with black --line-length 99
  backend/main.py
  backend/models/models.py
  backend/models/populate.py
  backend/models/test_populate.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

margins
  frontend/src/Layout.tsx
Due: Type Checking on frontend, Linting with black in frontend

carousel interface corrected for data from backend
  frontend/src/components/Carousel.tsx
Due: Type Checking on frontend, Linting with black in frontend

Home and My Workbooks now send correct data to Carousel
  frontend/src/pages/Home.tsx
  frontend/src/pages/MyWorkbooks.tsx
Due: Type Checking on frontend, Linting with black in frontend

fix applied
  frontend/src/components/Footer.tsx
Due: Type Checking on frontend, Linting with black in frontend

adding names for course, course lead and learning platform to workbook response
  backend/main.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

Added blue underline to heading in navbar when on page
  frontend/src/components/Navbar.tsx
Due: Type Checking on frontend, Linting with black in frontend

Made headings blue when page is active
  frontend/src/components/Navbar.tsx
Due: Type Checking on frontend, Linting with black in frontend

fixed home highlight
  frontend/src/components/Navbar.tsx
Due: Type Checking on frontend, Linting with black in frontend

fix row time and row location columns
  frontend/src/pages/Workbook.tsx
Due: Type Checking on frontend, Linting with black in frontend

black formatting
  backend/main.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

type hint to satisfy mypy
  backend/main.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

updated activity location from string to multiple choice
  backend/main.py
  backend/models/models.py
  backend/models/populate.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

remove print debugging
  backend/models/populate.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

formatting
  backend/main.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

Implemented working breadcrumb Navbar
  .gitignore
  frontend/src/components/Navbar.tsx
  frontend/src/pages/Home.tsx
Due: Type Checking on frontend, Linting with black in frontend

Fixed breadcrumbs and fixed duplicate linking to home ("/" and "/home")
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
Due: Type Checking on frontend, Linting with black in frontend

base functionality
  backend/main.py
  backend/models/models.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

ensure all commands are purely ran from inside /backend
  backend/main.py
  backend/models/populate.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

model validation
  backend/main.py
  backend/models/models.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

Time and activity location table headers swapped. Issue fixed
  frontend/src/pages/Workbook.tsx
Due: Type Checking on frontend, Linting with black in frontend

backend stff
  backend/main.py
  backend/models/models.py
  backend/models/populate.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

added backend dockerfile
  backend/Dockerfile
  backend/data/__init__.py
Due: Linting with black in backend, Type checking with mypy, Unit tests on backend

Path conditions:
  Linting with black in backend: any of: backend/**/*
  Type checking with mypy: any of: backend/**/*
  Unit tests on backend: any of: backend/**/*
  Type Checking on frontend: any of: frontend/**/*
  Linting with black in frontend: any of: frontend/**/*
